body {background-color: rgb(24, 20, 20);}

h1 {color: rgb(200, 200, 200); text-align: center;}

p {background:#111; color:#fff; text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc; font-size:48px; text-align:center;}